@import "reset.css";

body {
  background: black;
  overflow: hidden;
}
/*
.tornpaper {
  width: 100vw;
  height: 100vw;
  background: url(../img/tornpaper.gif) no-repeat;
} */

.wrinklepaper {
  width: 50vw;
  position: absolute;
  margin-top: -10vw;
  left: 25vw;
}

.tornpaper {
  width: 30vw;
  position: absolute;
  margin-top: 20vw;
  margin-bottom: 2vw;
  right: 2vw;
}

@font-face {
 font-family: 'Gotham Pro';
 font-weight: normal;

 src: url(../fonts/GothamPro-Light.ttf)
 format('truetype');
}

@font-face {
 font-family: 'Druk Text Wide Cyr';
 font-weight: 900;

 src: url(../fonts/DrukTextWideCyrSuper.otf)
 format('opentype');
}

h1 {
  font-family: 'Gotham Pro';
  color: #FFFFFF;
  font-size: 30px;
  line-height: 29px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
  margin-right: 3vw;
  margin-top: 3vw;
  user-select: none;
  transition: 400ms all ease;
}
/*
h1:hover {
  color: #FF4B41;
  animation:
} */

.purple {
  width: 40vw;
  position: absolute;
  margin-top: -6vw;
  left: -5vw;
}

.red {
  width: 50vw;
  position: absolute;
  right: -2vw;
  top: 0vw;
}

.redpiece {
  width: 60vw;
  position: absolute;
  top: 0vw;
}

.redpiece2 {
  width: 25vw;
  position: absolute;
  top: 5vw;
  right: 15vw;
}

.purplepiece {
  width: 25vw;
  position: absolute;
  bottom: 0vw;
  left: 2vw;
}

.purplepiece2 {
  width: 25vw;
  position: absolute;
  bottom: 0vw;
  right: 2vw;
}

.severalpieces {
  width: 100vw;
  height: 120vh;
  z-index: 1;
  position: absolute;
  margin-top: -10vw;
}

.bluepieces {
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: -2vw;
  left: -2vw;
}

.yellowpieces {
  position: absolute;
  z-index: 1;
  width: 70vw;
  top: 0vw;
  right: -2vw;
}

.spider {
  position: absolute;
  width: 46vw;
  z-index: 1;
  top: -2vw;
}

.bluepiece {
  width: 60vw;
  position: absolute;
  top: 0vw;
  left: -25vw;
}

.redpiece3 {
  width: 70vw;
  position: absolute;
  top: 5vw;
  left: 5vw;
}

.yellowpiece {
  width: 60vw;
  position: absolute;
  top: 35vw;
  left: -10vw;
}

.yellowpiece2 {
  width: 60vw;
  position: absolute;
  top: 10vw;
  right: -10vw;
}

.purplepiece3 {
  width: 70vw;
  position: absolute;
  bottom: -6vw;
  right: 10vw;
}

.snake {
  position: absolute;
  width: 40vw;
  z-index: 1;
  bottom: -2vw;
  right: -4vw;
}

.field {
  position: absolute;
  width: 44vw;
  z-index: 1;
  bottom: 0vw;
  left: -4vw;
}


.dontwant {
  position: absolute;
  width: 25vw;
  z-index: 1;
  bottom: -2vw;
  right: 23vw;
}

.fear {
  position: absolute;
  width: 45vw;
  z-index: 1;
  top: 2vw;
  left: 12vw;
}

.dontwant2 {
  position: absolute;
  width: 45vw;
  z-index: 1;
  top: 25vw;
  right: 23vw;
}

.sticker1 {
  position: absolute;
  width: 40vw;
  top: -8vw;

  touch-action: none;
  user-select: none;
}


.sticker2 {
  position: absolute;
  width: 45vw;
  left: 20vw;

  touch-action: none;
  user-select: none;
}

.sticker3 {
  position: absolute;
  width: 45vw;
  bottom: -10vw;

  touch-action: none;
  user-select: none;
}


.notafraid {
  position: absolute;
  z-index: 1;
  width: 45vw;
  top: 13vw;
  left: 20vw;
}

.purplepiece4 {
  position: absolute;
  width: 40vw;
  z-index: 1;
  top: 26vw;
  right: 5vw;

  touch-action: none;
  user-select: none;
}

.war {
  position: absolute;
  width: 45vw;
  z-index: 1;
  top: 25vw;
  right: 23vw;
}

.displayblue {
  width: 60vw;
  position: absolute;
  top: 0vw;
  left: -25vw;

}
